[project]
	description = Really simple shopping cart for AngularJS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anand (anandchristal)
[access "refs/for/refs/*"]
	read = group user/Anand (anandchristal)
	push = group user/Anand (anandchristal)
	label-Code-Review = -2..+2 group user/Anand (anandchristal)
	label-Verified = -1..+1 group user/Anand (anandchristal)
	rebase = group user/Anand (anandchristal)
	removeReviewer = group user/Anand (anandchristal)
	submit = group user/Anand (anandchristal)
[access "refs/heads/*"]
	read = group user/Anand (anandchristal)
	create = group user/Anand (anandchristal)
	push = +force group user/Anand (anandchristal)
	pushMerge = group user/Anand (anandchristal)
[access "refs/tags/*"]
	push = group user/Anand (anandchristal)
	push = +force group user/Anand (anandchristal)
